<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--index.html = index.css-->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>컴퓨터 소프트웨어과 출석</title>
</head>
<body>
    <div class="btn-container">
        <a href="login"><button class="btn">로그인</button></a>
        <a href="signup_main"><button class="btn">회원가입</button></a>
    </div>
    <h1>얼굴인식 출석</h1>
    <img src="{{ url_for('video_feed') }}">
</body>
</html>
