<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/pro.css') }}" rel="stylesheet">
    <title>교수 페이지</title>
</head>
<body>
    <div class="btn-container">
        <a href="./login.html"><button class="btn">로그아웃</button></a>
    </div>
    <h1>출결 관리 시스템</h1>
    <div class="container">
        <a>과목 : </a>
        <a>교수 : </a>
        <a>시간 : </a>
        <table>
            <thead>
                <tr>
                    <th>학생 이름</th>
                    <th>1주차</th>
                    <th>2주차</th>
                    <th>3주차</th>
                    <th>4주차</th>
                    <th>5주차</th>
                    <th>6주차</th>
                    <th>7주차</th>
                    <th>8주차</th>
                    <th>9주차</th>
                    <th>10주차</th>
                    <th>11주차</th>
                    <th>12주차</th>
                    <th>13주차</th>
                    <th>14주차</th>
                    <th>15주차</th>
                    <th>16주차</th>
                    <th>17주차</th>
                    <th>18주차</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>최우식</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                </tr>
                <tr>
                    <td>김가현</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>박한나</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>
                <tr>
                    <td>주현수</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>출석</td>
                    <td>결석</td>
                    <td>출석</td>
                    <td>출석</td>
                </tr>

                    
                                      
            </tbody>
        </table>
    </div>
</body>
</html>