<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 회원가입</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>회원가입</h2>
        <form action="">
            <div class="form-group">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="학번" required>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="이름" required>
            </div>
            <div class="form-group">
                <label for="department"></label>
                <select name="language" >
                    <option value="none">=== 선택 ===</option>
                    <option value="korean" selected>바이오</option>
                    <option value="chinese">AI</option>
                    <option value="spanish">드론</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="이메일" required>
            </div>
        </form>
        <p>have an account <a href="{{ url_for('login') }}">Login</a></p>
    </div>
</body>
</html>