<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
    <title>교수 회원가입</title>

</head>
<body>
    <div class="container">
        <h2>회원가입</h2>
        <form action="">
            <div class="form-group">
                <label for="username"></label>
                <input type="text" id="username" name="username" placeholder="ID" required>
            </div>
            <div class="form-group">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="PW" required>
            </div>
            <div class="form-group">
            <label for="department"></label>
                <input type="text" id="department" name="department" placeholder="학과" required>
            </div>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="이메일" required>
            </div>
        </form>
        <p>have an account <a href="{{ url_for('login') }}">Login</a></p>
    </div>
</body>
</html>